{% extends 'base.html' %}

{% block title %}
    Pet Hotel:login
{% endblock %}

{% block subtitulo %}
    Autenticação de Usúario
{% endblock %}

{% block main %}
    <div class="container registrar">
        <div class="wrapper">
                <h3>Entrar na minha conta</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
        </div>
    </div>

{% endblock %}