{% extends 'base.html' %}

{% block title %}
    Cadastro - Dono
{% endblock %}

{% block subtitulo %}
    Cadastro de dono
{% endblock %}

{% block main %}
    <div class="container form-wrapper">
        <form method="post" class="formulario formulario-sp" enctype="multipart/form-data">
            <h1>Inserir um novo dono</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{{ texto_botao }}</button>
            <button type="button" onclick="location.href='url_voltar'">Cancelar</button>
        </form>
    </div>
{% endblock %}