{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block subtitulo %}
    Pet Hotel
{% endblock %}

{% block main %}

    <a href="/">Home</a>  &nbsp;
    <a href="{% url 'url_cadastro_pets' %}">Cadastro_Cliente</a> &nbsp;
    <a href="{%  url 'url_listagem_clientes'%}">Listagem_Clientes</a> &nbsp;
    <a href="{% url 'url_cadastro_pets' %}">Cadastro_Pet</a> &nbsp;
    <a href="{% url 'url_listagem_pets' %}">Listagem_Pets</a> &nbsp;
    <a href="{% url 'url_tabela' %}">Tabela</a> &nbsp;
    <br><br>
    <img src="{% static 'img/fundo.png' %}" width="600">


{% endblock %}
