{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    <link rel="stylesheet" href="{% static 'css/animations.css' %}" >
    <title> {% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="{% url 'url_principal' %}">PetHotel</a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Donos
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'url_cadastro_clientes' %}">Cadastrar um dono</a>
            <a class="dropdown-item" href="{% url 'url_listagem_clientes' %}">Listagem de donos</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Pets
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'url_cadastro_pets' %}">Cadastrar um pet</a>
            <a class="dropdown-item" href="{% url 'url_listagem_pets' %}">Listagem de pets</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'url_planos' %}">Consultar planos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fazer uma reserva</a>
        </li>
      </ul>
      <div class="logado ml-auto">
        {% if user.get_username  %}
            (usuário: {{ user.get_username }} | <a href="/admin/">admin</a> |<a href="{% url 'logout' %}">logout</a>  )
        {% else %}
{#                ( <a href="{% url 'login' %}">login</a> |  <a href="{% url 'url_registrar' %}">registrar</a>)#}
            ( <a href="#">login</a> |  <a href="#">registrar</a>)
        {% endif %}
      </div>
    </nav>
    {% block main %}
    {% endblock %}
</body>
</html>